doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    title Telegram 小工具

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css")
    link(rel="stylesheet" href="./asset/style/reset.css")

    link(rel="stylesheet" href="./asset/style/main.css")
    script(defer src="./js/plugin/qrcode.js")
    script(defer src="./js/main.js")
  body
    section.cStatusInfo
      .cStatusInfo_niUsers
    section.cAllRespond
      a(href="/allRespond" target="_blank") 查看留言 (另開新頁)
    section.cGetParticipants
      .cGetParticipants_title
        span 群組活躍參與者清單 (活躍用戶)
      .cGetParticipants_status
      form.cGetParticipants_form
        .cGetParticipants_form_roomId
          span 群組 ID：
          input.markInput(
            type="text"
            placeholder="群組 ID"
          )
        .cGetParticipants_form_offsetDays
          span 過濾期間：
          input.markInput(
            type="number"
            value="7"
          )
        button.cGetParticipants_form_submit
          span 送出
    section.cTuckUser
      .cTuckUser_title
        span 拉人入群
      .cTuckUser_status
      form.cTuckUser_form
        .cTuckUser_form_userIds
          span 用戶 ID：
          input.markInput(
            type="text"
            placeholder="用戶 ID (以逗點分隔)"
          )
          .cTuckUser_form_userIds_csvUpload
            | （CSV 批量匯入：
            input.markInput(
              type="file"
            )
            | ）
        .cTuckUser_form_ourGroup
          span 群組 ID：
          input.markInput(
            type="text"
            placeholder="群組 ID"
          )
        button.cTuckUser_form_submit
          span 送出
    section.cPaperSlip
      .cPaperSlip_title
        span 廣告炸群
      .cPaperSlip_status
      form.cPaperSlip_form
        .cPaperSlip_form_roomIds
          span 用戶/群組 ID：
          input.markInput(
            type="text"
            placeholder="用戶/群組 ID (以逗點分隔)"
          )
          .cPaperSlip_form_roomIds_csvUpload
            | （CSV 批量匯入：
            input.markInput(
              type="file"
            )
            | ）
        .cPaperSlip_form_sourceLink
          span 被轉發的訊息鏈結：
          input.markInput(
            type="text"
            placeholder="被轉發的訊息鏈結"
          )
        button.cPaperSlip_form_submit
          span 送出
    section.cPaperSlipToActiveUser
      .cPaperSlipToActiveUser_title
        span 廣告炸群 (活躍用戶)
      .cPaperSlipToActiveUser_status
      form.cPaperSlipToActiveUser_form
        .cPaperSlipToActiveUser_form_roomId
          span 轉發對象的群組 ID：
          input.markInput(
            type="text"
            placeholder="群組 ID"
          )
        .cPaperSlipToActiveUser_form_offsetDays
          span 過濾期間：
          input.markInput(
            type="number"
            value="7"
          )
        .cPaperSlipToActiveUser_form_usedNiUserCount
          span 仿用戶的使用量：
          input.markInput(
            type="number"
            value="1"
          )
        .cPaperSlipToActiveUser_form_sourceLink
          span 被轉發的訊息鏈結：
          input.markInput(
            type="text"
            placeholder="被轉發的訊息鏈結"
          )
        button.cPaperSlipToActiveUser_form_submit
          span 送出
    section.cLogin
      .cLogin_title
        span 登入
      .cLogin_status
      .cLogin_qrcodeBox
      form.cLogin_form
        .cLogin_form_phone
          span 手機號碼：
          input.markInput(
            type="text"
            placeholder="手機號碼"
          )
        .cLogin_form_verifiedCode
          span 驗證碼：
          input.markInput(
            type="text"
            placeholder="驗證碼"
          )
          button.cLogin_form_verifiedCode_otherSentBtn
            span 以其他方式寄送
          button.cLogin_form_verifiedCode_useQrLogin
            span 使用 QR 碼登入
        .cLogin_form_password
          span 二次驗證碼：
          input.markInput(
            type="text"
            placeholder="二次驗證碼"
          )
          span.markSeparation or
          button.cLogin_form_password_deleteAccount
            span 重設帳戶
        .cLogin_form_signup
          span 名稱：
          input.markInput(
            type="text"
            placeholder="名稱"
          )
        button.cLogin_form_submit
          span 下一步
        button.cLogin_form_reset
          span 重置
    section.cRmNiUser
      .cRmNiUser_title
        span 刪除訪用戶
      .cRmNiUser_status
      form.cRmNiUser_form
        button.cRmNiUser_form_submit
          span 執行
    section.cRaiseCats
      .cRaiseCats_title
        span 加入新貓
      .cRaiseCats_status
      form.cRaiseCats_form
        .cRaiseCats_form_modemCardsTxt
          span 貓池文件：
          input.markInput(
            type="file"
          )
        button.cRaiseCats_form_submit
          span 送出
    section.cAutoSignUp
      .cAutoSignUp_title
        span 自動註冊
      .cAutoSignUp_status
      form.cAutoSignUp_form
        .cAutoSignUp_form_needCount
          span 需求數量：
          input.markInput(
            type="number"
            value="7"
          )
        button.cAutoSignUp_form_submit
          span 送出
    section.cLog

