doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    title Telegram 小工具

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css")
    link(rel="stylesheet" href="./asset/style/reset.css")

    link(rel="stylesheet" href="./asset/style/main.css")
    script(defer src="./js/main.js")
  body
    section.cStatusInfo
      .cStatusInfo_niUsers
      .cStatusInfo_latest
    section.cPaperSlip
      .cPaperSlip_title
        span 廣告炸群
      form.cPaperSlip_form
        .cPaperSlip_form_roomIds
          span 用戶/群組 ID：
          input.makeInput(
            type="text"
            placeholder="用戶/群組 ID (以逗點分隔)"
          )
          .cPaperSlip_form_roomIds_csvUpload
            | （CSV 批量匯入：
            input.makeInput(
              type="file"
            )
            | ）
        .cPaperSlip_form_sourceRoomId
          span 被轉發的群組來源 ID：
          input.makeInput(
            type="text"
            placeholder="被轉發的群組來源 ID"
          )
        .cPaperSlip_form_sourceMessageId
          span 被轉發的訊息來源 ID：
          input.makeInput(
            type="text"
            placeholder="被轉發的訊息來源 ID"
            pattern="[0-9]"
          )
        button.cPaperSlip_form_submit
          span 送出

